@charset "UTF-8";

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html {
    background-color: aqua;
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;

}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
   
    overflow: hidden;
    width: 250px;
    height: 515px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.322);
     transform: translate(-50%, -50%);
    transition: width.3s, height.3s;
    transition-timing-function: ease;
    
}
section#login > div#imagem {
    display: block;
    background: aqua url(../imagens/pexels-sean-whang-25006-804269\ \(1\).jpg) no-repeat;
    background-size: cover;
    background-position: left bottom;
    
    height: 200px;
}

section#login > div#formulario {
    display: block;
    padding: 10px;
}

 div#formulario > h1 {
    text-align: center;
    margin-bottom: 10px;
 }

div#formulario > p {
    
    font-size: 0.8em;

}

form > div.campo {
    background-color: rgb(11, 121, 121);
    border: 2px solid rgb(11, 121, 121);
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 8px;
    margin: 5px 0px;

}

div.campo label {
    display: none;
}

div.campo > i {
    color: white;
    /*background-color: black;*/
    font-size: 2em;
    width: 40px;
    padding: 5px;
}

div.campo > input {
    background-color: rgb(110, 201, 201);
    font-size: 1em;
    width: calc(100% - 45px);
    height: 100% ;
    border: 0px;
    border-radius: 8px;
    padding: 4px;
     transform: translateY(-13px);

}

div.campo > input:focus-within {
    background-color: white;
}

form > input[type=submit] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: rgb(61, 104, 109);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
form > input[type=submit]:hover {
    background-color: rgba(136, 141, 167, 0.8);
}
form > a {
    display: block;
    text-align: center;
    width: 100%;
    height: 40px;
    padding-top: 5px;
    margin-top: 2px;
    font-size: 1em;
    background-color: #49a09d;
    color: rgb(62, 105, 84);
    border: 1px solid #a2adad;
    text-decoration: none;
    border-radius: 7px;

    
}
form > a:hover {
    background-color: rgba(136, 141, 167, 0.8);
}
form > a.botao > i {
    font-size: 0.8em;
    
}
 
    